################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveCoding-Kubernetes/FileContentIndex/0f0dfcda-b03d-41cf-8289-060f13aa947b.vsidx
/.vs/LiveCoding-Kubernetes/FileContentIndex/36956384-c356-4c6f-92a9-f3e953616d3a.vsidx
