################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveCoding-Kubernetes/FileContentIndex/0f0dfcda-b03d-41cf-8289-060f13aa947b.vsidx
